@font-face {
    font-family: Base;
    src: url('../fonts/Comfortaa.ttf');
}
@font-face {
    font-family: Head;
    src: url('../fonts/GoodTimes.ttf');
}
@font-face {
    font-family: Hg;
    src: url('../fonts/CenturyGothic.ttf');
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.b {
    height: 10vw;
    width: 96vw;
    background-color: #eeeeee;
    border-radius: 0.5vw;
    border: none;
    color: #cccccc;
    font-family: Base;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 1vh;
}
.b:hover {
    cursor: pointer;
    width: 95vw;
    background-color: #dddddd;
    border-radius: 0.7vw;
    color: #eeeeee;
}
.b:active {
    width: 94vw;
    background-color: #cccccc;
    color: #ffffff;
}
.b2 {
    height: 10vw;
    width: 47.75vw;
    background-color: #eeeeee;
    border-radius: 0.5vw;
    border: none;
    color: #cccccc;
    font-family: Base;
    font-size: 2.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 1vh;
    margin-right: 0.5vh;
}
.b2:hover {
    cursor: pointer;
    width: 47.25vw;
    background-color: #dddddd;
    border-radius: 0.7vw;
    color: #eeeeee;
}
.b2:active {
    width: 46.75vw;
    background-color: #cccccc;
    color: #ffffff;
}
.divb1 {
    width: 48vw;
    display: flex;
    flex-direction: row-reverse;
}
.divb2 {
    width: 48vw;
    display: flex;
    flex-direction: row;
}
.b3 {
    height: 10vw;
    width: 47.75vw;
    background-color: #eeeeee;
    border-radius: 0.5vw;
    border: none;
    color: #cccccc;
    font-family: Base;
    font-size: 2.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 1vh;
    margin-left: 0.5vh;
}
.b3:hover {
    cursor: pointer;
    width: 47.25vw;
    background-color: #dddddd;
    border-radius: 0.7vw;
    color: #eeeeee;
}
.b3:active {
    width: 46.75vw;
    background-color: #cccccc;
    color: #ffffff;
}
header {
    position: fixed;
    top: 0;
    width: 96vw;
    height: 9vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 0.5vw #949494;
    border-radius: 0.2vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:#ffffff;
}
header h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Head;
    font-weight: 300;
    font-size: 2.8vw;
}
header div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 29vw;
}
header a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Base;
    font-weight: 600;
    font-size: 2.3vw;
    transition-duration: 200ms;
    color: #000000;
    text-decoration: none;
    border-left: dashed 0.2vw #bbbbbb;
    border-right: dashed 0.2vw #bbbbbb;
    padding: 0 0.24vw;
}
header a:hover{
    color: #333333;
    cursor: pointer;
}
header a:active{
    color: #666666;
}
footer {
    position: fixed;
    bottom: 0;
    width: 95vw;
    height: 4vw;
    display: flex;
    justify-content: start;
    padding-left: 1vw;
    align-items: center;
    border-top: solid 0.5vw #949494;
    border-radius: 0.2vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Base;
    font-size: 1.2vw;
    background-color: #ffffff;
}
ol {
    width: 86vw;
    padding: 0.5vw 4.5vw;
    border-left: dashed 0.4vw #bbbbbb;
    border-right: dashed 0.4vw #bbbbbb;
}
.p {
    width: 86vw;
    padding: 0.5vw 4.5vw;
    border-left: dashed 0.4vw #bbbbbb;
    border-right: dashed 0.4vw #bbbbbb;
    text-indent: 5vw;
}
.pdi {
    width: 86vw;
    padding: 0.5vw 4.5vw;
    border-left: dashed 0.4vw #bbbbbb;
    border-right: dashed 0.4vw #bbbbbb;
    text-indent: 5vw;
}
ul {
    width: 86vw;
    padding: 0.5vw 4.5vw;
    border-left: dashed 0.4vw #bbbbbb;
    border-right: dashed 0.4vw #bbbbbb;
}
li {
    margin-bottom: 3vh;
}
.diva2 {
    display: flex;
    justify-content: center;
    width: 96vw;
}
img {
    border: dashed 0.2vw;
    border-radius: 0.8vw;
}
.imgt {
    height: 14vw;
    border: dashed 0.2vw;
    border-radius: 0.8vw;
}
.imgtw {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sub {
    font-family: Hg;
    font-size: 1.5vw;
    width: 96vw;
}